
<div class="content">
  <h3 class='sub_title'>Welkom</h3>
  <p class="content_text">
    Deze site bevat een volledige database aan nummers.
  </p>
  <ul>
    <li>In de catalogus staan alle nummers op een rijtje.</li>
    <li>Wil je een nummer toevoegen? Druk op 'Voeg nummer toe' en vul alle gegevens in.</li>
    <li>Bij 'Sorteren' kunnen je zoeken naar specifieke eigenschappen, zoals genres, albums en ratings.</li>
  </ul>
</div>
